.main-container {
  font-family: 'Arial';
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: var(--ck-color-base-foreground);
}

.ck-content {
  font-family: 'Arial';
  line-height: 1.6;
  word-break: break-word;
}

.editor-container__editor-wrapper {
  display: flex;
}

.editor-container__toolbar > .ck.ck-toolbar {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.editor-container_document-editor .editor-container__editor-wrapper {
  overflow-y: scroll;
  height: 90vh;
}

.editor-container_document-editor .editor-container__editor {
  height: 100%;
  width: 100%;
}

.editor-container_document-editor .editor-container__editor .ck.ck-editor__editable {
  box-sizing: border-box;
  height: fit-content;
  border: 1px hsl(0, 0%, 82.7%) solid;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.078);
  flex: 1 1 auto;
}

#header, #footer {
  min-height: 75px;
}
#header::before, #footer::before {
  color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  z-index: 1;
}

#header {
  border-bottom-style: dashed;
  position: relative;
  box-shadow: none;
  padding-bottom: 15px;
}

#header[lang="tr"]::before {
  content: 'Üstbilgi';
  position: absolute;
  bottom: 0;
}

#header[lang="en"]::before {
  content: 'Header';
  position: absolute;
  bottom: 0;
}

#content {
  min-height: 400px;
}

#footer {
  border-top-style: dashed;
}
#footer[lang="tr"]::before {
  content: 'Altbilgi';
  position: relative;
  top: 0;
}

#footer[lang="en"]::before {
  content: 'Footer';
  position: relative;
  top: 0;
}

.ck-content h3.category {
  font-family: 'Arial';
  font-size: 20px;
  font-weight: bold;
  color: #555;
  letter-spacing: 10px;
  margin: 0;
  padding: 0;
}

.ck-content h2.document-title {
  font-family: 'Arial';
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: 0;
}

.ck-content h3.document-subtitle {
  font-family: 'Arial';
  font-size: 20px;
  color: #555;
  margin: 0 0 1em;
  font-weight: bold;
  padding: 0;
}

.ck-content p.info-box {
  --background-size: 30px;
  --background-color: #e91e63;
  --padding: 1.2em 2em;
  border: 1px solid var(--background-color);
  background: linear-gradient(
    135deg,
    var(--background-color) 0%,
    var(--background-color) var(--background-size),
    transparent var(--background-size)
  ),
  linear-gradient(
    135deg,
    transparent calc(100% - var(--background-size)),
    var(--background-color) calc(100% - var(--background-size)),
    var(--background-color)
  );
  border-radius: 10px;
  margin: 1.5em 2em;
  box-shadow: 5px 5px 0 #ffe6ef;
}

.ck-content blockquote.side-quote {
  font-family: 'Arial';
  font-style: normal;
  float: right;
  width: 35%;
  position: relative;
  border: 0;
  overflow: visible;
  z-index: 1;
  margin-left: 1em;
}

.ck-content blockquote.side-quote::before {
  content: '“';
  position: absolute;
  top: -37px;
  left: -10px;
  display: block;
  font-size: 200px;
  color: #e7e7e7;
  z-index: -1;
  line-height: 1;
}

.ck-content blockquote.side-quote p {
  font-size: 2em;
  line-height: 1;
}

.ck-content blockquote.side-quote p:last-child:not(:first-child) {
  font-size: 1.3em;
  text-align: right;
  color: #555;
}

.ck-content span.marker {
  background: yellow;
}

.ck-content span.spoiler {
  background: #000;
  color: #000;
}

.ck-content span.spoiler:hover {
  background: #000;
  color: #fff;
}

.ck-content pre.fancy-code {
  border: 0;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 10px;
}

.ck-content pre.fancy-code-dark {
  background: #272822;
  color: #fff;
  box-shadow: 5px 5px 0 #0000001f;
}

.ck-content pre.fancy-code-bright {
  background: #dddfe0;
  color: #000;
  box-shadow: 5px 5px 0 #b3b3b3;
}

.pageNumber::before {
  content: '#pageNumber';
}

.ck-content .table table td, .ck-content .table table th {
  padding: 0;
}

.mat-mdc-button {
  justify-content: left!important;
}

.mat-mdc-dialog-content {
  max-height: unset!important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}

mat-form-field.small {
  --mat-form-field-container-height: 40px;
  --mat-form-field-container-vertical-padding: 8px;
  width: 100%;
}

.dialog-header {
  top: 0;
  right: 0;
  padding: 3px; /* Adjust as needed */
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

.wrapped-button {
  white-space: normal;
  word-wrap: break-word;
  width: 100%;
  padding: 0;
  text-align: left;
}

.wrapper {
  padding-top: 20px;
}

.sidebar {
  width: 20%;
  float: left;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  height: 90vh;
  overflow-y: scroll;
}

.main-container {
  width: 79%;
  float: right;
}

.small {
  font-size: 14px;
}

.input-with-checkbox {
  width: 80% !important;
}

.panel-title {
  font-weight: bold;
  font-size: 15px;
}

.divider {
  opacity: 30%;
}

.editor-container__editor-wrapper {
  padding: 10px;
}

.editor-container__editor {
  border: 1px solid #ccc;
  padding: 10px;
}

.pluginPlace {
  display: block !important;
  margin-left: auto !important;
  margin-right: 0 !important;
}

.iconPlace {
  display: block !important;
  margin-left: auto !important;
  margin-right: 0 !important;
  opacity: 0.3!important;
  font-size: 1rem !important;
}

.mat-tree-node .mat-icon {
  font-size: 20px;
  height: 20px;
  width: 20px;
}

.menu-button {
  width: 6% !important;
  display: grid !important;
  align-items: center !important;
  justify-content: center !important;
}
